body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #12264a;
    margin: 0;
    background-color: #93d2f9;
}

h1, h2{
    margin-top: 50px;
    text-align: center;
}


.logoPrincipal {
    width: 100%;
    height: 100%;              
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: left; 
    background-size: cover; 
    background-position: center; 
    color: white; 
    margin: 0;
}

.dosPartes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;         
    margin: 100px 0;
}

.dosPartes img {
    width: 30%;
    height: auto;
    border-radius: 50px;
    margin-right: 100px;
}

#explicacion, #cotizar {
    width: 220px;
    height: 60px;

    background: #d3df66;
    color: #12264a;

    border: none;
    border-radius: 35px;

    font-size: 16px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}


#explicacion:hover, #cotizar:hover {
    background-color: #93d2f9;
    color: #12264a;
    cursor: pointer;
    transform: scale(1.05);
}

.logoPrincipal img {
    max-width: 35%;
    max-height: 100%;
    margin: 0;
}

.logoPrincipal h1 {
    margin: auto;
}

footer{
    background-color: #12264a;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #12264a;
    padding: 0;
    width: 100%;
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    max-width: auto;
    height: 100%;
    padding: 0;
}

nav ul li {
    flex: 1;
    margin: 0;
}

nav ul li a {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #93d2f9;
    color: #12264a;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;          
    gap: 10px;              
  }

.fondoAzul{
    width: 600px;
    padding: 50px;
    background-color: #12264a;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    justify-content: center;
    display: flex;
    
}

#btnEnviar{
   margin-top: 30px;
   padding: 10px;
   background-color: #12eeb7;
    color: #12264a;
    border-radius: 10px;
    font-weight: 700;
}

#btnEnviar:hover {
    background-color: #93d2f9;
    color: #12264a;
    cursor: pointer;
    transform: scale(1.05);
}

label{
    color: white;
}

.contenedor{
    justify-content: center;
    display: flex;
}