:root {
    --primary: #091225;
    --secondary: #12264a;
    --bg-dark: #12264a;
    --text-gray: #1a2431;
    --white: #ffffff;
    --blue: #0d1b36;
    --crema: #f0f2f5;
    --transition-fast: 0.3s ease;
}

/* ANIMACIONES */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(99, 102, 241, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(99, 102, 241, 0); }
    100% { box-shadow: 0 0 0 0 rgba(99, 102, 241, 0); }
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /*  BACKGROUND AVANZADO (SVG Pattern) */
    background-color: #f0f2f5;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 300px));
    gap: 40px;
    padding: 60px;
    justify-items: center;
    justify-content: center;
}

.card {
    background: var(--white);
    width: 320px;
    border-radius: 24px;
    position: relative; /* Base para hijos absolute */
    overflow: hidden;   /* Corta lo que sobresale de los bordes */
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
    animation: fadeIn 0.8s ease-out;
    /* 2.29 TRANSICIONES */
    transition: transform var(--transition-fast), box-shadow var(--transition-fast);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.15);
}

/* CLIP-PATH */
.class-header {
    height: 140px;
    background: radial-gradient(var(--primary), var(--secondary));
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

/*  DISPLAY &   FLEXBOX */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 40px;
    text-align: center;
}

.imag1, .imag2, .imag3 {
    width: 130px;
    height: 130px;
    background: #e2e8f0;
    border: 5px solid var(--white);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Asegura que esté al frente */
    background-size: cover;
}

.imag2{
    background-image: url("imagenes/ed.jpeg");
}

.imag1{
    background-image: url("imagenes/mondra.jpeg");
}

.imag3{
    background-image: url("imagenes/manu.jpeg");
}

.info {
    margin-top: 50px;
}

.info h2 { margin: 10px 0 5px; color: var(--bg-dark); }
.info p { color: var(--text-gray); font-size: 0.9rem; margin-bottom: 25px; text-align: justify;}

.historia img{
    flex: 1;
    width: 100%;
    
}

.historia {
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    gap: 90px;   
    max-width: 90%;
    margin: 0 auto; 
    padding: 20px;
}

.textoG {
    flex: 1.2;           
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historia p {
    color: var(--text-gray); 
    font-size: 1rem;
    line-height: 1.6;      
    text-align: justify;
    margin: 0;          
}

.contenedor {
    height: 180px;

    text-align: center;
    

    background: linear-gradient(
        to bottom,
        rgba(9, 18, 37, 1) 0%,
        rgba(9, 18, 37, 0.9) 60%,
        rgba(9, 18, 37, 0.5) 70%,
        rgba(9, 18, 37, 0.2) 80%,
        rgba(9, 18, 37, 0.05) 90%, 
        transparent 100%         
    );
}

.contenedor h1{
    color: #f0f2f5;
}
.contenedor h2{
    color: var(--crema);
}